body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Roboto",
    "Ubuntu", "Helvetica Neue", sans-serif;
}

.button-outline-transparent {
  margin-right: 30px;
  background-color: transparent;
  border: 0px solid #eee;
  border-radius: 3px;
}

.text-bolds {
  color: darkgrey;
}

.text-bolds-public {
  color: #0078d4;
  font-weight: bold;
  text-transform: uppercase;
}

.app-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 54px;
  z-index: 1030;
  background-color: #0078d4;
  color: #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-toggle::before {
  display: block;
  position: absolute;
  color: transparent;
  font-size: 0;
  content: "";
  height: 0.3125rem;
  width: 0.3125rem;
  background-color: transparent;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #ffffff;
  top: 50%;
  left: 100%;
  margin-left: -1rem;
  margin-top: -0.1625rem;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform-origin: center center 1px;
  -ms-transform-origin: center center 1px;
  transform-origin: center center 1px;
}

.box-shadow {
  border: 1px solid #eee;
  padding: 25px;
  box-shadow: 3px 3px 2px #dadada;
}

.cell-5,
.col-5,
.colspan-5 {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 41% !important;
  flex: 0 0 41% !important;
  max-width: 45% !important;
}

.image_svg_thumb {
  width: 30px;
  filter: invert(1) sepia(1) saturate(0);
}

.image_svg_thumb_2 {
  width: 30px;
  filter: brightness(3);
}

.aktif {
  background-color: #0078d4;
  color: #ffffff !important;
  outline: none;
  border-radius: 0;
}

.cpanel-aktif {
  border: 1px solid rgb(243, 243, 243);
  color: #0078d4 !important;
  outline: none;
  border-radius: 0;
  font-weight: bold;
}

.h-menu {
  list-style: none inside;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #0078d4;
  color: #ffffff;
}

.app-flatbar {
  margin-top: 49px;
  z-index: 90;
  background: white;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0px 1px 5px #eeeeee;
}

.font-h5 {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
  color: #ddd;
}

.card {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: calc(40% - 1rem) !important;
}
.card-header {
  border-bottom: 1px #eee solid;
  padding: 2rem;
  font-size: 16px;
  border-radius: 0 0 0 0;
  display: block;
}

::placeholder {
  color: #dddddd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dddddd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dddddd;
}

/* Responsive Screen Layout */
@media screen and (max-width: 870px) {
  .chksuccess {
    margin-bottom: 15px;
    left: 10px;
  }
}

.tabs ul li {
  background-color: #f8f8f8;
  white-space: nowrap;
  font-size: 14px;
}
.tabs ul li.active {
  border-top: 2px solid orange;
}

table {
  font-size: 14px;
}

table td [class*="mif-"] {
  margin: 0 4px;
}

code {
  background-color: #f7f7f7;
  cursor: pointer;
}
code:hover {
  background-color: #ededed;
}

#hero {
  background-color: #ffffff !important;
}

.tabs {
  min-height: auto;
}

@media all and (min-width: 768px) {
  #hero {
    border-bottom: 1px solid #dfdfdf;
    background-color: #f8f8f8 !important ;
  }

  .tabs {
    top: 2px;
  }
}

.tabs li {
  background-color: #f8f8f8 !important;
}
.tabs li.active {
  background-color: #ffffff !important;
}

/* Radio Button Custom CSS - Bootsnipp */
ul.chec-radio {
  display: contents;
}
ul.chec-radio li.pz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chec-radio label.radio-inline input[type="checkbox"] {
  display: none;
}
.chec-radio label.radio-inline input[type="checkbox"]:checked + div {
  color: #fff;
  background-color: rgb(212, 212, 212);
}
.chec-radio .radio-inline .clab {
  cursor: pointer;
  background: #ffffff;
  padding: 4px 20px;
  text-align: center;
  border: #5dc464 1px solid;
  position: relative;
  height: 34px;
  float: left;
  margin: 0;
}
.chec-radio .radio-inline .avail {
  cursor: pointer;
  background: #ffffff;
  padding: 4px 20px;
  text-align: center;
  border: #bbc8ff 1px solid;
  position: relative;
  height: 34px;
  float: left;
  margin: 0;
}

.chec-radio .radio-inline .notavail {
  cursor: pointer;
  background: #ffffff;
  padding: 4px 20px;
  text-align: center;
  border: #ffc5c5 1px solid;
  position: relative;
  height: 34px;
  float: left;
  margin: 0;
}

.chec-radio label.radio-inline input[type="checkbox"]:checked + div:before {
  margin-right: 5px;
}
.chec-radio label.radio-inline input[type="radio"] {
  display: none;
}
.chec-radio label.radio-inline input[type="radio"]:checked + div {
  color: #fff;
  border: #008a00 2px solid;
}
