body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Roboto",
    "Ubuntu", "Helvetica Neue", sans-serif;
}

.button-outline-transparent {
  margin-right: 30px;
  background-color: transparent;
  border: 0px solid #eee;
  border-radius: 3px;
}

.app-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 54px;
  z-index: 1030;
  background-color: #0078d4;
  color: #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-toggle::before {
  display: block;
  position: absolute;
  vertical-align: middle;
  color: transparent;
  font-size: 0;
  content: "";
  height: 0.3125rem;
  width: 0.3125rem;
  background-color: transparent;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #ffffff;
  top: 50%;
  left: 100%;
  margin-left: -1rem;
  margin-top: -0.1625rem;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform-origin: center center 1px;
  -ms-transform-origin: center center 1px;
  transform-origin: center center 1px;
}

.h-menu {
  list-style: none inside;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #0078d4;
  color: #ffffff;
}
